.posts {
  max-width: 520px;
  margin: 0 auto;
  display: grid;
  gap: 1.6rem;
}

.post {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-inline: 10px;
  background-color: rgb(228, 222, 222);
  color: rgb(40, 40, 40);
  border-radius: 1rem;

  .post__title {
    font-size: 1.5rem;
    overflow-wrap: break-word;
  }
  .post__img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    .post__img-img {
      object-fit: cover;
      border-radius: 1rem;
      width: 100%;
    }
  }

  .post-link {
    text-decoration: none;
    color: inherit;
  }

  .post__text {
    padding-inline: 1rem;
  }
}

// @media (min-width: 600px) {
//   .posts {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (min-width: 900px) {
//   .posts {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }
