.posts {
  max-width: 520px;
  margin: 0 auto;
  display: grid;
  gap: 1.6rem;
}

.post {
  display: flex;
  flex-direction: column;
  // max-width: 100%;
  margin-top: 1rem;
  margin-inline: 10px;
  background-color: rgb(228, 222, 222);
  color: rgb(40, 40, 40);
  border-radius: 1rem;
  padding-bottom: 1rem;

  .post__title {
    font-size: 1.5rem;
    overflow-wrap: break-word;
    padding: 1rem 0rem;
  }
  .post__img-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .post__img-img {
      object-fit: cover;
      border-radius: 1rem;
      width: 100%;
    }
  }

  .post-link {
    text-decoration: none;
    color: inherit;
  }

  .post__text {
    padding-inline: 1rem;
  }

  .post__edit-section {
    display: flex;
    justify-content: end;
    gap: 2rem;
    .post__delete {
      color: red;
    }
  }
}

.inactive {
  color: rgb(246, 242, 242);
  background-color: rgb(182, 60, 60);
}

.editing {
  display: grid;
  gap: 1rem;
}
.editing__input {
  border: 1px solid gray;
}

.editing__submit {
  background-color: #ffffff;
  padding: 1rem;
  height: 45px;
}
