.to-top-container {
  position: fixed;
  width: 680px;
  max-width: calc(100vw - 10px);
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  //   background-color: green;
  display: flex;
  justify-content: end;
  align-items: center;

  .to-top {
    background-color: #53a1da;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    &:hover {
      background-color: hsl(205, 65%, 39%);
    }
  }
}
