h1 {
  text-align: center;
  margin-bottom: 40px;
}
.form-container {
  text-align: center;
  label {
    margin-right: 10px;
    font-size: 20px;
  }
  .input {
    margin: 16px 0;
    padding-left: 10px;
  }
  input {
    width: 270px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  }
  textarea {
    width: 270px;
    height: 100px;
    vertical-align: top;
  }
  :focus-visible {
    outline: none;
  }
  #preview {
    width: 300px;
    height: 300px;
  }
}
