@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
button,
.button {
  background: #53a1da;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 30px;
}

/*Ny kode*/
.header-container {
  display: grid;
  grid-template-columns: 50px auto;
  ul {
    position: absolute;
    background-color: #666;
    width: 100%;
    left: 0;
    padding: 0;
    text-align: right;
  }
  li {
    list-style-type: none;
    padding: 12px 10px;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #fff;
  }
  svg {
    margin-top: 30px;
  }
  .magnify {
    margin-left: 10px;
  }
  a.logo.active {
    font-family: "Black Ops One", cursive;
    font-size: 64px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #53a1da;
    margin-left: 10px;
  }
  .logo a {
    font-family: "Black Ops One", cursive;
    font-size: 64px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #53a1da;
    text-align: center;
  }
  .logo-color {
    -webkit-text-fill-color: #53a1da;
  }
  .bars {
    text-align: right;
    margin-right: 10px;
  }
}
.search-field {
  text-align: center;
  padding: 30px 0;
  input {
    height: 38px;
    border-radius: 4px;
    border: 1px solid grey;
    margin-right: 5px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    grid-template-columns: 300px auto;
    ul {
      background-color: #fff;
      position: static;
      display: grid;
      grid-template-columns: 200px 200px 200px;
      justify-content: right;
    }
    li {
      color: black;
      padding-top: 30px;
    }
    a:visited {
      color: black;
    }
  }
  .search-field {
    background-color: #fff;
  }
  input {
    width: 300px;
  }
  .logo {
    margin-left: 30px;
  }
}
